
#left{
    padding-left: 2%;
}

#name {
    font-family: 'Playfair Display';
    font-size: 50px;
}

#text {
    font-size: 18px;
    font-family: 'Poppins';
}

#a1  {
   color: black;
   font-weight: bold;
}

#a1:hover {
    text-decoration: none;
}

@media (max-width: 390px) {
    .extra{
        display: none;
    }
}