
#name {
    font-family: 'Playfair Display';
    font-size: 50px;
}

#text {
    font-size: 18px;
    font-family: 'Poppins';
}

#a1  {
   color: black;
   font-weight: bold;
}

#a1 {
    text-decoration: none;
}

/* @media (max-width: 390px) {
    p {
        color: blue;
    }
} */
